@media (max-width: 1680px) {
        main {
                display: grid;
                grid-template-columns: 330px 980px;
                grid-auto-rows: 100px auto;
                margin: 0 85px;
        }
}


@media (max-width: 1280px) {
        main {
                grid-template-columns: 400px 730px;
        }
}

@media (max-width: 1100px) {
        main {
                grid-template-columns: 400px 340px;
        }

        #products-container{
                justify-content: center;
        }
}